<div class="face-snap-card" [ngClass]="{snapped: faceSnap.isSnapped}">
    <h2><a routerLink="/facesnaps">&#8592;</a> {{ faceSnap.title | uppercase}}</h2>
    <p>Mis en ligne le {{ faceSnap.createdAt | date: "d MMMM yyyy, à HH:mm" }}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
    <p>{{ 344.36 | currency: "XOF" : "code" }}</p>
    <p>
        <button (click)="onAddSnap()">
            <span *ngIf="!faceSnap.isSnapped; else notSnappedSpan">Oh snaps!</span>
            <ng-template #notSnappedSpan>Oups, snapped</ng-template>
        </button>
        🤌 {{ faceSnap.snaps }}
    </p>
</div>