<div class="face-snap-card" [ngClass]="{snapped: faceSnap.isSnapped}">
    <h2>{{ faceSnap.title | uppercase}}</h2>
    <p>{{ faceSnap.description }}</p>
    <button (click)="onViewSnap()">View</button>
</div>