<div class="landing-block">
    <img src="assets/snapface.png" alt="Snapface logo">
    <div class="landing-links">
      <!--<a routerLink="facesnaps">Continuer vers Snapface</a> <br>-->
      <button (click)="onContinue()">Continuer vers Snapface</button>
    </div>
</div>